html,
body {
	background: #FFFFFF;
	-ms-overflow-style: scrollbar;
	/*ie-scrollbar*/
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
}
.navbar{
	margin-bottom: 10px !important;
}
.all {
	margin-top: 55px;
	margin-left: 220px;
	z-index: 20;
	padding-left: 0;
	padding-right: 0;
}
.dropdown-menu li a {color: #337ab7;}	
.dropdown-menu li a:hover {color: #23527c;}
.navbar-default .navbar-nav > li > a{
	color: #337ab7 !important;
	
}

.navbar-default .navbar-nav >a:focus, a:hover{
	color: #23527c;
}
.sidebar {
   position: fixed;
	top: 50px;
	width: 220px;
	padding: 0;
	background-color: #f1f1f1;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	border-right: 1px solid #ccc;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	margin-left: -15px;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #6d7983;
  border-top: 1px solid #e5e5e5;
}
.sidebar-nav>ul>li[class*=active]>a{
  color: #fff;
  background-color:#00acac;
}
.sidebar-nav>ul>li>a:focus{
	 text-decoration: none;
}
.sidebar-nav>ul>li>a:hover, .sidebar-nav>ul>li>a:active {
  color: #fff;
  background-color:#00acac;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: #FFFFFF;
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus,  .collapse > li[class*=active]> a {
   color: #00acac !important;
   text-decoration:none;
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}
.maincontent {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 320px !important;
	overflow: hidden;
}

.maincontent .breadcrumb {
	padding: 14px 15px;
}

#goTop {
	padding: 5px 15px;
	border-radius: 8px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	background-color: #aaa;
	color: #fff;
	text-align: center;
	display: none;
	-moz-transition: background 0.5s linear;
	-webkit-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	z-index: 99;
}

#goTop:hover {
	background: #808080;
}

@media (max-width:768px) {
	.navbar-toggle[class*=pull-left] {
		margin-left: 15px;
		margin-right: 0;
	}
	#goTop {
		padding: 0 8px;
	}
}

.fa.pull-right {
	line-height: inherit;
}